/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;500&display=swap');

/* general style rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EDF6F9;
    font-family: 'Montserrat', sans-serif;
}


h2 {
    border-bottom: 1px solid #E29578;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0.5rem;
    padding-top: 10px;
    text-transform: uppercase;
}

/* logo and header */

header {
    background-color: #000;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    color: #83C5BE;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin: 0.5rem;
}

#logo a {
    text-decoration: none;
}

/* navigation bar */

#menu {
    background-color: #000;
    display: inline;
    float: left;
    margin: auto auto;
    padding-bottom: 0.5rem;
    width: 100%;
}

#menu ul {
    font-size: 0.9rem;
    float: left;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin: 0.5rem;
}

#menu a {
    color: #EDF6F9;
    text-decoration: none;
}

#menu a:hover {
    color: #E29578;
}

.active {
    border-bottom: 1px solid #E29578;
}

/* hero image */

main {
    margin-top: 80px;
}

#hero {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 320px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat bottom center;
    background-size: 640px;
}

/* about us section */
 
#about-us {
    width: 100%;
}

.about-left {
    float: left;
    padding: 0 10px 0;
    text-align: left;
}

.about-right {
    float: right;
    padding: 20px 10px 0;
    text-align: right;
}

.about-right a {
    color: #000;
    text-decoration: underline;
}

.about-right a:hover {
    text-decoration: none;
}

/* next book & meeting section */

#up-next {
    display: block;
}

#up-next img {
    display: block;
    height: 320px;
    margin: auto;
}

.next-book {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.next-book p {
    font-style: italic;
}

#next-meeting {
    background-color: #000;
    color: #83C5BE;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

#next-meeting li {
    list-style-type: none;
}

#next-meeting p {
    font-style: italic;
}

#next-meeting a {
    color: #E29578;
}

#next-meeting a:hover {
    text-decoration: none;
}

/* previous books section */

#previous-books {
    display: block;
    margin: auto;
}

#previous-books img {
    height: 320px;
}

#prev-book-left {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#prev-book-right {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

#prev-book-center {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* gallery and testimonials */

.gallery {
    display: block;
    margin: 1rem auto;
    padding: 0;
    text-align: center;
    width: 75%;
}

.gallery img {
    width: 100%;
}

.gallery p {
    border: solid 1px #000;
}

/* registration page + form */

#form-heading p {
    margin: 0.5rem;
}

#register-form {
    max-width: 320px;
    margin: 0.5rem;
}

#register-form label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-decoration: solid underline 1.5px #E29578;
    text-transform: uppercase;
}

.submit-button {
    background-color: #000;
    color: #83C5BE;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    padding: 0.5rem 0.5rem 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #83C5BE;
    color: #000;
}

.text-input {
    border: solid 1px #000;
    margin: 0.25rem auto 0.5rem;
    padding: 0.25rem;
    width: 100%;
}

.text-input:hover {
    border-color: #E29578;
}

/* footer - social media links */

.social-networks {
    margin: 1.5rem;
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    color: #000;
    font-size: 160%;
    padding: 5%;
}

.social-networks i:hover {
    color: #E29578;
}

/* for medium screens 635px and larger */

@media screen and (min-width: 650px) {
    #hero-image {
        background: url(../images/hero-image.jpg) no-repeat bottom center;
        background-size: 860px;
        height: 320px;
        width: 100%;
    }
}