/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');

/* general style rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EDF6F9;
    font-family: 'Montserrat', sans-serif;
}


h2 {
    border-bottom: 1px solid #E29578;
    color: #000;
    text-transform: uppercase;
}

/* logo and header */

header {
    background-color: #000;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

h1 {
    color: #83C5BE;
    font-family: 'Dela Gothic One', cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#logo {
    float: left;
    margin: 0.5rem;
}

#logo a {
    text-decoration: none;
}

/* navigation bar */

#menu {
    display: inline;
    float: left;
}

#menu ul {
    float: left;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin: 0.5rem;
}

#menu a {
    color: #EDF6F9;
    text-decoration: none;
}

#menu a:hover {
    color: #E29578;
}

.active {
    border-bottom: 1px solid #E29578;
}

/* hero image */

main {
    margin-top: 80px;
}

#hero {
    height: 320px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 320px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat bottom center;
    background-size: 640px;
}

/* about us section */
 
#about-us {
    height: 320px;
    width: 100%;
}

#about-us-header {
    margin: 0.5rem;
}

.about-left {
    float: left;
    padding: 0 10px 0;
    text-align: left;
}

.about-right {
    float: right;
    padding: 20px 10px 0;
    text-align: right;
}

.about-right a {
    color: #000;
    text-decoration: underline;
}

.about-right a:hover {
    text-decoration: none;
}