/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:wght@400;500&display=swap');

/* general style rules */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #EDF6F9;
    font-family: 'Montserrat', sans-serif;
}

main {
    margin-top: 51px;
}

h2 {
    border-bottom: 1px solid #E29578;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0.5rem;
    padding-top: 10px;
    text-transform: uppercase;
}

.upper {
    text-transform: uppercase;
}

img {
    box-shadow: 2.5px 2.5px 2.5px;
}

/* logo and header */

.header-div {
    background-color: #000;
    height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    float: left;
    height: 35px;
    margin: 0.5rem;
}

.logo a {
    text-decoration: none;
}

.logo img {
    box-shadow: none;
    height: 35px;
}

/* navigation bar */

.menu {
    float: right;
    margin: 17.5px auto auto;
    padding: 0;
    position: relative;
    width: 85%;
}

.menu ul {
    float: right;
    font-size: 0.9rem;
}

.menu li {
    display: inline;
    list-style-type: none;
    margin: 0.5rem;
}

.menu a {
    color: #EDF6F9;
    text-decoration: none;
}

.menu a:hover {
    color: #E29578;
}

.active {
    border-bottom: 1px solid #E29578;
}

/* hero image */

.hero-image {
    box-shadow: none;
    height: 320px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat bottom center;
    background-size: 640px;
}

.hero-image-text {
    background-color: rgba(0, 0, 0, 0.5);
    float: right;
    height: fit-content;
    right: 2.5%;
    top: 50%;
    padding: 5px;
    position: relative;
    text-align: right;
    width: fit-content;
}

h1 {
    color: #83C5BE;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.hero-image-text p {
    color: #FFDDD2;
    font-style: italic;
}

/* about us section */
 
.about-us {
    display: inline-block;
    width: 100%;
}

.about-left {
    float: left;
    padding: 0 10px 0;
    text-align: left;
}

.about-right {
    float: right;
    padding: 20px 10px 0;
    text-align: right;
}

.about-right a {
    color: #000;
    text-decoration: underline;
}

.about-right a:hover {
    text-decoration: none;
}

/* next book & meeting section */

.up-next {
    display: inline-block;
    width: 100%;
}

.up-next img {
    display: block;
    height: 320px;
    margin: auto auto 10px;
}

.next-book {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

.next-book p {
    font-style: italic;
}

.next-book a {
    color: #000;
    text-decoration: underline;
}

.next-book a:hover {
    text-decoration: none;
}

.next-meeting {
    background-color: #000;
    border: solid #83C5BE 10px;
    color: #83C5BE;
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: fit-content;
}

.next-meeting li {
    list-style-type: none;
}

.next-meeting p {
    font-style: italic;
}

.next-meeting a {
    color: #E29578;
}

.next-meeting a:hover {
    text-decoration: none;
}

/* carousel with testimonials */

.carousel {
    border: 1px solid #000;
    margin: 1rem;
    overflow: hidden;
    text-align: center;
}
  
.slides {
    display: flex;
    padding: 5px;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.slides::-webkit-scrollbar {
    display: none;
}
  
.slides-item {
    align-items: center;
    border-radius: 10px;
    flex-shrink: 0;
    font-style: italic;
    height: 25%;
    justify-content: center;
    margin: auto;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
}

.testimonial-image-1, .testimonial-image-3 {
    display: inline-block; 
    position: relative; 
    height: 55px; 
    width: 55px;
    overflow: hidden; 
    border-radius: 50%; 
} 

.testimonial-image-2 {
    display: inline-block; 
    position: relative; 
    height: 55px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.slides-item img {
      box-shadow: none;
      width: auto; 
      height: 100%; 
      margin-left: 0; 
}

.slides-item p {
      display: block;
 }
  
.carousel__nav {
    margin: auto;
    padding: 0 0.5rem 0.5rem;
}
  
.slider-nav {
    align-items: center;
    background-color: #ddd;
    border-radius: 50%;
    color: #000;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    margin-top: 0.5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
}
  
.slider-nav:hover {
    background-color: #000;
    color: #fff;
}

/* previous books section */

.previous-books {
    display: block;
    margin: auto;
}

.previous-books img {
    height: 320px;
    margin: 10px auto;
}

.previous-books a {
    color: #000;
}

.previous-books a:hover {
    text-decoration: none;
}

.prev-book-left {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.prev-book-right {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.prev-book-center {
    display: block;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* gallery */

.gallery {
    clear: both;
    column-count: 1;
    column-gap: 0.5rem;
    line-height: 0;
    text-align: center;
}

.gallery img {
    margin-top: 10px;
    width: 75%;
}

/* registration page + form */

.form-section {
    padding: 10% 0 30%;
    margin: auto;
    height: 100%;
    text-align: center;
    width: 85%;
}

.form-heading p {
    margin: 0.5rem;
}

.rsvp-form {
    margin: 0.5rem;
}

.rsvp-form label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-decoration: solid underline 1.5px #E29578;
    text-transform: uppercase;
}

.submit-button {
    background-color: #000;
    color: #83C5BE;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
    padding: 0.5rem 0.5rem 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

.submit-button:hover {
    background-color: #83C5BE;
    color: #000;
}

.text-input {
    border: solid 1px #000;
    margin: 0.25rem auto 0.5rem;
    padding: 0.25rem;
    width: 100%;
}

.text-input:hover {
    border-color: #E29578;
}

/* footer - social media links */

.social-networks {
    margin: 1.5rem;
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    color: #000;
    font-size: 160%;
    padding: 5%;
}

.social-networks i:hover {
    color: #E29578;
}

/* for medium screens 650px and larger */

@media screen and (min-width: 650px) {

    .hero-image {
        background: url(../images/hero-image.jpg) no-repeat bottom center;
        background-size: 860px;
        height: 320px;
        width: 100%;
    }

    .hero-image-text {
        right: 12.5%;
    }

    .header-div {
        height: fit-content;
        margin: auto;
    }

    .menu ul {
        font-size: 1.25rem;
    }

    .logo {
        display: inline-block;
        height: fit-content; 
        vertical-align: middle;
    }

    .logo img {
        height: 70px;
    }

    .menu {
        margin: 35px auto auto;
    }

    main {
        margin-top: 90px;
    }

    h2 {
        font-size: 1.75rem;
    }

    .about-us, .up-next {
        margin-left: 7.5%;
        width: 85%;
    }

    .next-book, .next-meeting {
        display: inline-block;
        margin: 0 auto;
        width: 42%;
    }

    .next-meeting {
        height: fit-content;
        margin-top: 120px;
        vertical-align: top;
    }

    .carousel {
        height: fit-content;
    }

    .slides {
        overflow-x: visible;
    }

    .slides > * {
        flex: 1 1 auto;
    }

    .slides-item {
        margin: 0.5rem;
        width: 30%;
    }

    .carousel__nav {
        display: none;
    }

    .gallery img {
        margin-top: 20px;
    }
}

/* for large screens 850px and larger */

@media screen and (min-width: 850px) {

    .hero-image {
        background: url(../images/hero-image-large.jpg) center center;
        background-size: 2000px;
        height: 320px;
        width: 100%;
    }

    .previous-books {
        width: 100%;
    }

    .prev-book-left, .prev-book-center, .prev-book-right {
        margin: auto;
        padding: 0;
        width: 25%;
    }

    .prev-book-left {
        float: left;
        margin-left: 10px;
    }

    .prev-book-right {
        float: right;
        margin-right: 10px;
    }

    .prev-book-center {
        display: inline-block;
        clear: both;
        margin: auto;
        padding-left: 12.5%;
    }

    .gallery {
        clear: both;
        column-count: 2;
        column-gap: 0.5rem;
        line-height: 0;
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        clear: both;
        column-count: 3;
        column-gap: 0.5rem;
        line-height: 0;
        text-align: center;
    }
}